body {
    margin: 0;
}

.navigation--container {
    display: flex;
    justify-content: center;
    background: #fcb919;
}

.navigation--container img {
    height: 100px;
    margin-right: 1rem;
}


.navigation--tab {
    border: none;
    font-size: 2.5rem;
    background: #fcb919;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navigation--tab:hover {
    color: black;
    background: white;
}