.navigation--container {
    display: flex;
    justify-content: center;
}

.navigation--tab {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    font-size: 2rem;
    padding: 1rem;
}

.journey--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journey--wrapper {
    display: flex;
}