body {
    margin: 0;
}

.navigation--container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navigation--tab {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-left: none;
    border-right: none;
    font-size: 2.5rem;
    background: white;
}

.navigation--tab:hover {
    background: aqua;
}

