.journey-tab--form-select {
    display: flex;
    justify-content: center;
}

.journey-tab--buttons {
    text-align: center;
}

.journey-tab--buttons button {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}