.station-tab--container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.station-tab--container tr {
    cursor: pointer;
}

.station-tab--form-select {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.station-tab--form-select > div {
    display: flex;
}

.station-tab--form-select button {
    margin-right: 0.3rem;
    background: mediumseagreen;
    color: black;
    border: none;
}

.form-select {
    margin-right: 0.5rem;
}


.station-tab--buttons {
    text-align: center;
    margin-bottom: 1rem;
}

.station-tab--buttons button {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    background: #fcb919;
    border: none;
}

.station-tab--loading-spinner {
    text-align: center;
    margin-bottom: 1rem;
}

.station-data-modal--loading-spinner {
   text-align: center;
}

.station-data-modal--modal-body-content-header {
    font-weight: bold;
}

.accordion-body-text-bold {
    font-weight: bold;
}