.offcanvas--form-select {
    display: flex;
    justify-content: center;
}

.offcanvas--form-select > div {
    display: flex;
    margin-bottom: 1rem;
}

.offcanvas--form-select button {
    margin-right: 0.3rem;
    background: #fcb919;
    color: black;
    border: none;
}

.form-select {
    margin-right: 0.5rem;
}

.offcanvas--buttons {
    text-align: center;
    margin-top: 1rem;
}

.offcanvas--buttons button {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    background: #fcb919;
    border: none;
}

.offcanvas--loading-spinner {
    text-align: center;
    margin-bottom: 1rem;
}

.offcanvas-header {
    text-align: center;
}

.offcanvas-header h3 {
    margin: 0;
}

.offcanvas--accordion-button {
    text-align: center;
}

.offcanvas--accordion-button button {
    background: #464b48;
    border: none;
    color: white;
}

.offcanvas--close-button {
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
}

.offcanvas--open-button {
    background: black;
    color: white;
    position: absolute;
    top: 1rem;
    margin-left: 1rem;
    z-index: 100;
}

.bold {
    font-weight: bold;
}

.leaflet-container {
    height: 100dvh;
}

